body {
    margin: 0;
    background: #f7f7f7;
    font-family: Arial;
}

.login-container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

.logo {
    width: 70px;
    margin-bottom: 10px;
}

.input-group {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}

.eye {
    position: absolute;
    right: 10px;
    top: 18px;
    cursor: pointer;
}

button {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    background: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}
